
body {
    margin: 0;
    background-color: #f58a8a; 
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.header-title {
  flex: 1;
  text-align: center;
}

img.logo {
  width: 100px;
  height: auto;
}
